/* Adjusting SVG Sizes */
.todo_items_left svg,
.todo_items_right button svg {
  width: 25px; /* Reduced width */
  height: 25px; /* Reduced height */
}

/* Further Reduced Heights for Specific Buttons */
.edit_button svg,
.delete_button svg {
  width: 25px; /* Consistent with the above */
  height: 25px; /* Consistent with the above */
}

.edit-form input[type="text"] {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #777;
}

.edit-form input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #00ff00;
}

.edit-form {
  width: 100%;
}

/* The rest of the styles remain the same */
.list {
  padding: 10px;
  color: #f7fafc;
  list-style-type: none;
  margin: 0;
}

/* Item.css */
.todo_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px; /* Reduced padding */
  border: 1px solid #333;
  border-radius: 6px; /* Slightly smaller border-radius */
  margin-bottom: 8px; /* Reduced margin between items */
  background-color: #1e1e1e;
  color: #fff;
}

.circle_completed {
  fill: #00ff00; /* Green */
}

.circle_pending {
  fill: #1e1e1e;
  stroke: #00ff00;
  stroke-width: 2px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: #777;
}

.todo_items_left,
.todo_items_right {
  display: flex;
  align-items: center;
}

.todo_items_left {
  background-color: transparent;
  border: none;
  color: #fff;
  gap: 8px; /* Reduced gap between icon and text */
  font-size: 14px; /* Smaller font size */
}

.todo_items_right {
  gap: 4px;
}

.todo_items_right button {
  background-color: transparent;
  color: #fff;
  border: none;
}

.todo_items_right button svg {
  fill: #c2b39a;
}

.edit_button svg {
  fill: #ffaa00; /* Edit icon color */
}

.delete_button svg {
  fill: #ff0000; /* Delete icon color */
}
