.todo_section {
  background-color: #f7fafc;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #333;
  max-width: 600px;
  margin: 20px auto;
}

.todo_title {
  display: block;
  padding: 256px;
}

.todo_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo_text {
  color: #1a1a1a;
}

.todo_main_text {
  font-size: 20px;
  font-weight: bold;
}

.todo_sub_text {
  font-size: 14px;
  margin-top: 5px;
}

.todo_progress {
  background-color: #68d391;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo_progress_text {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: bold;
}
