.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Sticks the header to the top */
  top: 0; /* Aligns it to the top */
  left: 0; /* Ensures the header starts from the left edge */
  right: 0; /* Ensures the header ends at the right edge */
  width: 100%; /* Ensures the header spans the full width without overflow */
  height: 100px; /* Adjust this height as needed */
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  padding: 0 15px; /* Add padding to align content within the header */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a slight shadow for a raised effect */
  box-sizing: border-box; /* Includes padding and border in the element's width and height */
  z-index: 1000; /* Make sure it stays on top of other content */
}

.header-logo {
  font-size: 12px;
  font-weight: bold;
}

.header-title {
  flex: 1;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #030d17;
  padding: 0 20px;
}

.header-signin {
  font-size: 16px;
  color: #007bff;
  cursor: pointer;
  padding: 0 20px; /* Reduces padding on the right side */
}
